@font-face {
  font-family: "Akkurat-Bold";
  src: url("../fonts/Akkurat-Bold.woff2") format("woff2"),
    url("../fonts/Akkurat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
