@import "normalize.css";
@import "fonts.css";

body {
  min-height: 100vh;
}

h1 {
  width: 100%;
  height: auto;
}

h1 > svg {
  width: 100%;
  height: auto;
}

@media (orientation: landscape) {
  body {
    padding: 33px 3px 0;
  }
  h1 > svg.desktop {
    display: block;
  }
  h1 > svg.mobile {
    display: none;
  }
}

@media (orientation: portrait) {
  body {
    padding: 16px 3px 0;
  }
  h1 > svg.desktop {
    display: none;
  }
  h1 > svg.mobile {
    display: block;
  }
}
