@import "normalize.css";
@import "fonts.css";

body {
  min-height: 100vh;
  height: auto;
}

h1 {
  position: relative;
  width: 100%;
  height: auto;
}

h1 > svg,
h1 > img {
  display: block;
  width: 100%;
  height: auto;
}

.bouncer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.bouncer {
  display: block;
  width: 174px;
  height: 174px;
  user-select: none;
  text-align: center;
}

.bouncer.y > img {
  width: 100%;
  height: auto;
}

.x {
  animation: moveX 5s linear infinite alternate;
  will-change: transform;
}

.y {
  animation: moveY 3.2s linear infinite alternate;
  will-change: transform;
}

@keyframes moveX {
  100% {
    transform: translate(calc(100vw - 174px));
  }
}
@keyframes moveY {
  100% {
    transform: translateY(calc(100vh - 174px));
  }
}

@media (orientation: landscape) {
  body {
    padding: 33px 3px 0;
  }
  h1 > svg.desktop {
    display: block;
  }
  h1 > svg.mobile {
    display: none;
  }
  .bouncer-container {
    display: block;
  }
}

@media (orientation: portrait) {
  body {
    padding: 0;
    margin: 0;
  }
  h1 > svg.desktop,
  h1 > img.desktop {
    display: none;
  }
  h1 > svg.mobile,
  h1 > img.mobile {
    display: block;
    padding: 0;
    margin: 0;
  }
  .bouncer-container {
    display: none;
  }
}
